/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * akMyrmes implementation : © Andrew Kerrison <adesignforlife@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * akmyrmes.css
 *
 * akMyrmes stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (akmyrmes_akmyrmes.tpl), and to HTML elements you create dynamically
    (in akmyrmes.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.hidden {
	display: none;
}

.stockItem {
    position: relative !important;
    float: left;
}

.hex {
  /*cursor: pointer;*/
  fill-opacity: 0.1;
  stroke: #000;
  stroke-width: 0;
  stroke-dasharray: 5;
}

.token {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 20;
}

.supply {
    float: left;
    width: 500px;
    height: 100px;
    border: 1px solid red;
}

.supply .tile {
    background-size: contain;
    padding-left: 8px;
    padding-top: 12px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: #eeeeee;
}

.supply .yellowTunnel, .supply .yellow2, .supply .yellow3, .supply .yellow4, .supply .yellow5, .supply .yellow6, .supply .yellow7, .supply .yellow8 {
    color: #000000;
}

.padLeft {
    padding-left: 14px !important;
}

.playerBoard {
    float: left;
    width: 500px;
    height: 300px;
	background-image: url('img/playerBoard2.jpg');
	position: relative;
}

.btnRes {
    height: 30px;
    width: 30px;
}

.STONE {
    background-image: url('img/30_30_wooden_cubes.png');
}
.DIRT {
    background-image: url('img/30_30_wooden_cubes.png');
    background-position-x: -210px;
}
.FOOD {
    background-image: url('img/30_30_wooden_cubes.png');
    background-position-x: -120px;
}

.unusable {
    fill-opacity: 0.4;
    /*fill: #000000;
    stroke: #000;*/
}

#color-fill .hex {
  fill: #ffff00;
}

#color-fill {
  position: absolute;
  top: 252px;
  left: 243px;
}

.hex:hover {
  /*fill-opacity: 1;
  stroke: #ff0000;
  stroke-width: 5;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;*/
  /*fill: #00ff00 !important;
  fill-opacity: 0.2;*/
}

.hex {
  transition: transform, fill-opacity, stroke-width;
  -webkit-transition: transform, fill-opacity, stroke-width;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

/*.hex {
    width: 30px;
    height: 35px;
    border: 1px solid yellow;
    color: white;
}*/

.iconholder {
    height: 25px;
    clear: both;
}

.iconholder div {
    float: left;
    padding-right: 5px;
}

.tile {
    position: absolute;
}

.rot90 {
    -webkit-transform-origin: 27px 27px;
    -moz-transform-origin: 27px 27px;
    -ms-transform-origin: 27px 27px;
    -o-transform-origin: 27px 27px;
    transform-origin: 27px 27px;

    /*transform: rotate(90deg);*/
}

.active {
    cursor: pointer;
    border: 1px dashed green;
    stroke: #00dd00;
    stroke-width: 3;
    z-index:150;
}

.atelierHex {
    /*cursor: pointer;*/
    border: 1px dashed green;
    stroke: #00dd00;
    /*stroke-width: 4;*/
    z-index:150;
    stroke-dasharray: 8;
}

.selected {
    fill: #ffffff;
    fill-opacity: 0.4;
    stroke-dasharray: 0;
}

.hex.active {
    border: 3px dashed red;
}

.nurseIcon {
	width: 18px;
    height: 18px;
	/*border: 1px dashed white;*/
    /*float: left;*/
}

.nurseIconDouble {
	width: 18px;
    height: 36px;
	/*border: 1px dashed white;*/
    /*float: left;*/
}

.yellowNurse {
    background-image: url('img/n0.png');
}

.blueNurse {
    background-image: url('img/n1.png');
}

.redNurse {
    background-image: url('img/n2.png');
}

.blackNurse {
    background-image: url('img/n3.png');
}

.addLarvae1 {
	position: absolute; top: 185px; left: 70px;
}

.addLarvae2 {
	position: absolute; top: 160px; left: 70px;
}

.addLarvae3 {
	position: absolute; top: 135px; left: 70px;
}

.soldier1 {
	position: absolute; top:75px; left: 90px;	
}

.soldier2 {
	position: absolute; top: 50px; left: 90px;	
}

.worker1 {
	position: absolute; top: 90px; left: 190px;	
}

.worker2 {
	position: absolute; top: 60px; left: 190px;	
}

.atelier1 {
	position: absolute; top: 185px; left: 200px;	
}

.atelier2 {
	position: absolute; top: 170px; left: 220px;	
}

.atelier3 {
	position: absolute; top: 185px; left: 240px;	
}

.atelier4 {
	position: absolute; top: 200px; left: 220px;	
}

.nurse1 {
	position: absolute; top: 195px; left: 130px;	
}

.eventSlot {
	height: 13px; width: 13px;
}

.yellowEvent {
	background-image: url('img/d0.png');
}

.blueEvent {
	background-image: url('img/d1.png');
}

.redEvent {
	background-image: url('img/d2.png');
}

.blackEvent {
	background-image: url('img/d3.png');
}

.colonyMarker {
	height: 26px; width: 26px;
	position: absolute;
}

.yellowColony {
	background-image: url('img/d0.png');
}

.blueColony {
	background-image: url('img/d1.png');
}

.redColony {
	background-image: url('img/d2.png');
}

.blackColony {
	background-image: url('img/d3.png');
}

/*.currentEvent {
	box-sizing: border-box;
    border: 2px solid black !important;    
}*/

.event1{
	position: absolute; top: 239px; left: 37px;
}

.event2{
	position: absolute; top: 239px; left: 53px;
}

.event3{
	position: absolute; top: 239px; left: 69px;
}

.event4{
	position: absolute; top: 239px; left: 85px;
}

.event5{
	position: absolute; top: 239px; left: 101px;
}

.event6{
	position: absolute; top: 239px; left: 117px;
}

.event7{
	position: absolute; top: 239px; left: 133px;
}

.event8{
	position: absolute; top: 239px; left: 149px;
}

.larvaeSlot
{
	height: 13px;
	width: 13px;
	background-color: white;
}

.larvae1 {
	position: absolute; top: 205px; left: 15px;
}

.larvae2 {
	position: absolute; top: 205px; left: 30px;
}

.larvae3 {
	position: absolute; top: 205px; left: 45px;
}

.larvae4 {
	position: absolute; top: 188px; left: 15px;
}

.larvae5 {
	position: absolute; top: 188px; left: 30px;
}

.larvae6 {
	position: absolute; top: 188px; left: 45px;
}

.larvae7 {
	position: absolute; top: 171px; left: 15px;
}

.larvae8 {
	position: absolute; top: 171px; left: 30px;
}

.larvae9 {
	position: absolute; top: 171px; left: 45px;
}

.larvae10 {
	position: absolute; top: 154px; left: 15px;
}

.larvae11 {
	position: absolute; top: 154px; left: 30px;
}

.larvae12 {
	position: absolute; top: 154px; left: 45px;
}

.larvae13 {
	position: absolute; top: 137px; left: 15px;
}

.larvae14 {
	position: absolute; top: 137px; left: 30px;
}

.larvae15 {
	position: absolute; top: 137px; left: 45px;
}

.unallocated {
	background-image: none;
}

.unallocated.active {
	border: 2px dashed green;
}

.hexHolder {
    height: 50px;
    width: 44px;
}

#eventBoard {
	background-image: url('img/eventBoard.png');
	width: 265px;
	height: 60px;
	float: left;
}

#board {
    height: 875px;
    width: 650px;
    background-image: url('img/plateau.jpg');
    float: left;
}

.eventDice
{
	height: 62px;
	width: 62px;
	background-image: url('img/64_64_dice.jpg');
	position: absolute;
}

#yearMarker
{
	height: 18px;
	width: 18px;
	background-image: url('img/30_30_wooden_cubes.png');	
	position: absolute;
	background-size: 200px;
	background-position-x: -92px;
}

.season_spring
{
	background-position-y: -124px;	
}

.season_summer
{
	background-position-y: -62px;	
}

.event1
{ }
.event2
{ background-position-x: -62px;	}
.event3
{ background-position-x: -126px; }
.event4
{ background-position-x: -189px; }
.event5
{ background-position-x: -252px; }
.event6
{ background-position-x: -315px; }

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.nurse {
    height: 42px;
    width: 42px;   
    position: absolute;
    z-index: 100;
}

.special {
    height: 30px;
    width: 30px;   
    position: absolute;
    z-index: 100;
}

.blueSpecial {
    background-image: url('img/30_30_wooden_cubes.png');
    background-position-x: -30px;
}

.yellowSpecial {
    background-image: url('img/30_30_wooden_cubes.png');
    background-position-x: -90px;
}

.redSpecial {
    background-image: url('img/30_30_wooden_cubes.png');
    background-position-x: -60px;
}

.blackSpecial {
    background-image: url('img/30_30_wooden_cubes.png');
    background-position-x: -180px;
}

.worker {
    height: 42px;
    width: 42px;   
    position: absolute;
    z-index: 100;
}

.yellowWorker {
    background-image: url('img/f0.png');
}

.blueWorker {
    background-image: url('img/f1.png');
}

.redWorker {
    background-image: url('img/f2.png');
}

.blackWorker {
    background-image: url('img/f3.png');
}

.workerCount {
	position: absolute; top: 70px; left: 230px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.soldierCount{
	position: absolute; top: 60px; left: 40px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

.colonySlot {
	height: 50px;
	width: 50px;
	/*border: 1px dashed blue;*/
}

.colonySlot.active {
	border: 2px dashed green;
}

.colony0 {
	position: absolute; top: 30px; left: 370px;
}

.colony1 {
	position: absolute; top: 87px; left: 370px;
}

.colony2a {
	position: absolute; top: 145px; left: 370px;
	width: 25px;
}

.colony2b {
	position: absolute; top: 145px; left: 395px;
	width: 25px;
}

.colony3 {
	position: absolute; top: 202px; left: 370px;
}

/*FINAL CSS HERE*/

/*bugs*/
.tileType11{
    height: 42px;
    width: 42px;
    background-image: url('img/p2.png');
}

.tileType12 {
    height: 42px;
    width: 42px;
    background-image: url('img/p1.png');
}

.tileType13 {    
    height: 42px;
    width: 42px;
    background-image: url('img/p3.png');
}
/*end bugs*/

/*tunnels*/
.tunnel {
    height: 42px;
    width: 42px;
    position: absolute;
}

.supply .tunnel {
    height: 21px;
    width: 21px;
}

.yellowTunnel {
    background-image: url('img/g0.png');
}

.blueTunnel {
    background-image: url('img/g1.png');
}

.redTunnel {
    background-image: url('img/g2.png');
}

.blackTunnel {
    background-image: url('img/g3.png');
}

/*end tunnels*/

/*pheromone tiles*/
.tileType2 {
    width:55px;
    height: 93px;
}

.supply .tileType2 {
    width:28px;
    height: 47px;
}

.tileType3, .tileType9a, .tileType9b {
    width: 94px;
    height: 93px;
}

.supply .tileType3, .supply .tileType9a, .supply .tileType9b {
    width: 47px;
    height: 47px;
}

.tileType4 {
    width: 55px;
    height: 141px;
}

.supply .tileType4 {
    width: 28px;
    height: 71px;
}

.tileType5, .tileType10 {
    width: 94px;
    height: 116px;
}

.supply .tileType5, .supply .tileType10 {
    width: 47px;
    height: 58px;
}

.tileType6 {
    width: 95px;
    height: 140px;
}

.supply .tileType6 {
    width: 47px;
    height: 70px;
}

.tileType7 {
    width: 95px;
    height: 140px;
}

.supply .tileType7 {
    width: 47px;
    height: 70px;
}

.tileType8 {
    width: 136px;
    height: 140px;
}

.supply .tileType8 {
    width: 68px;
    height: 70px;
}

.yellow2 {
    background-image: url('img/t0_0.png');
}

.blue2 {
    background-image: url('img/t0_1.png');
}

.red2 {
    background-image: url('img/t0_2.png');
}

.black2 {
    background-image: url('img/t0_3.png');
}

.yellow3 {
    background-image: url('img/t2_0.png');
}

.blue3 {
    background-image: url('img/t2_1.png');
}

.red3 {
    background-image: url('img/t2_2.png');
}

.black3 {
    background-image: url('img/t2_3.png');
}

.yellow4 {
    background-image: url('img/t1_0.png');
}

.blue4 {
    background-image: url('img/t1_1.png');
}

.red4 {
    background-image: url('img/t1_2.png');
}

.black4 {
    background-image: url('img/t1_3.png');
}

.yellow5 {
    background-image: url('img/t3_0.png');
}

.blue5 {
    background-image: url('img/t3_1.png');
}

.red5 {
    background-image: url('img/t3_2.png');
}

.black5 {
    background-image: url('img/t3_3.png');
}

.yellow6 {
    background-image: url('img/t4_0.png');
}

.blue6 {
    background-image: url('img/t4_1.png');
}

.red6 {
    background-image: url('img/t4_2.png');
}

.black6 {
    background-image: url('img/t4_3.png');
}

.yellow7 {
    background-image: url('img/t5_0.png');
}

.blue7 {
    background-image: url('img/t5_1.png');
}

.red7 {
    background-image: url('img/t5_2.png');
}

.black7 {
    background-image: url('img/t5_3.png');
}

.yellow8 {
    background-image: url('img/t6_0.png');
}

.blue8 {
    background-image: url('img/t6_1.png');
}

.red8 {
    background-image: url('img/t6_2.png');
}

.black8 {
    background-image: url('img/t6_3.png');
}

.neutral9 {
    background-image: url('img/t7.png');
}

.yellow9a {
    background-image: url('img/t7_0.png');
}

.blue9a {
    background-image: url('img/t7_1.png');
}

.red9a {
    background-image: url('img/t7_2.png');
}

.black9a {
    background-image: url('img/t7_3.png');
}

.yellow9b {
    background-image: url('img/t8_0.png');
}

.blue9b {
    background-image: url('img/t8_1.png');
}

.red9b {
    background-image: url('img/t8_2.png');
}

.black9b {
    background-image: url('img/t8_3.png');
}

.neutral10 {
    background-image: url('img/t9.png');
}

.yellow10 {
    background-image: url('img/t9_0.png');
}

.blue10 {
    background-image: url('img/t9_1.png');
}

.red10 {
    background-image: url('img/t9_2.png');
}

.black10 {
    background-image: url('img/t9_3.png');
}

